{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor Starstuff</title>
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <!-- Link Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Link custom stylesheets -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'css/intro.css' %}" rel="stylesheet" />
</head>

<!-- Link to custom JavaScript files -->
<script src="{% static 'js/scripts.js' %}"></script>

<body>
    <div class="container">
        <div class="row">
            <div id="introduction-container" class="col mt-3 mb-5 p-0">
                {% include "intro.html" %}
            </div>
            <div class="col-lg-4 col-md-12 section-box">
                <!-- Starstuff Header Image -->
                <div class="header-frame layout-box">
                    <h5>✨ Professor Starstuff</h5>
                    <img src="{% static 'images/starstuff.png' %}" alt="Professor Starstuff" />
                </div>
                <!-- Test Messages Buttons -->
                <div class="test-messages-frame layout-box">
                    <div class="test-buttons d-flex justify-content-between">
                        <button type="button" id="btn1" class="tmBtn btn btn-sm btn-dark me-1" disabled>1</button>
                        <button type="button" id="btn2" class="tmBtn btn btn-sm btn-dark me-1" disabled>2</button>
                        <button type="button" id="btn3" class="tmBtn btn btn-sm btn-dark me-1" disabled>3</button>
                        <button type="button" id="btn4" class="tmBtn btn btn-sm btn-dark me-1" disabled>4</button>
                        <button type="button" id="btn5" class="tmBtn btn btn-sm btn-dark me-1" disabled>5</button>
                        <button type="button" id="btn6" class="tmBtn btn btn-sm btn-dark me-1" disabled>6</button>
                        <button type="button" id="btn7" class="tmBtn btn btn-sm btn-dark me-1" disabled>7</button>
                        <button type="button" id="btnReset" class="btn btn-sm btn-danger">Reset</button>
                    </div>
                    <div class="test-message-display">
                        <div id="test-message"><span id="test-message-emoji">👨🏾‍🚀 </span><span
                                id="test-message-text"></span></div>
                    </div>
                    <div>
                        <div class="button-box d-flex justify-content-center align-items-center">
                            <a href="https://smith.langchain.com/public/e64aed79-7c5f-44ad-8864-95f8cd070cd0/r"
                                target="_blank">
                                <button type="button" id="langSmith" class="btn btn-sm btn-dark"><img
                                        src="{% static 'images/slide_06_2.png' %}" />LangSmith</button>
                            </a>
                            <button type="button" id="intro-button" class="btn btn-sm btn-dark ms-2"
                                onclick="introSwitch()"><img src="{% static 'images/favicon.ico' %}" /> Mission
                                Briefing</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 section-box">
                <!-- Main chat container interface -->
                <div class="mobile-frame layout-box">
                    <!-- Chat box messages -->
                    <div class="chat-box">
                        <div class="chat-content" id="chat-content">
                            <div class="message-bot">Hi, I’m Professor Starstuff! ✨<br> Ask me anything about space, and
                                let’s explore the universe together! 🚀</div>
                        </div>
                    </div>
                    <!-- Input area -->
                    <div class="input-area">
                        <input type="text" id="user-input" placeholder="Curious about space?  (✦‿✦)☆">
                        <button onclick="sendMessage()">Send</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 section-box">
                <!-- Current Topic of the Discussion -->
                <div class="topic-frame layout-box">
                    <div class="d-flex justify-content-between">
                        <h5 id="topic-header">🌌 Current Topic</h5><span id="topic-text" class="topic-not me-2">...
                            waiting</span>
                    </div>
                    <div class="topic-message-display">
                        <span id="topic-message">🧙‍♂️ <em>"Our topic updates as we chat!"</em></span>
                    </div>
                </div>
                <!-- NASA Astronomy Images -->
                <div class="nasa-frame layout-box">
                    <div class="d-flex justify-content-between">
                        <h5>🪐 NASA Images</h5>
                        <div id="shuffle-button" class="btn btn-warning me-1">Shuffle</div>
                    </div>
                    <div class="d-flex">
                        <div class="nasa-image">
                            <img src="{% static 'images/shutter.png' %}" alt="Camera shutter" />
                        </div>
                    </div>
                </div>
                <!-- Podcast -->
                <div class="podcast-frame layout-box">
                    <h5>🎙️ Podcast</h5>
                    <div class="podcast-box d-flex justify-content-center align-items-center">
                        <div id="podcast-teaser-btn" class="btn btn-warning podcast-btn disabled"
                            onclick="podcast(this)">▶️&nbsp;<em>Teaser</em>
                        </div>
                        <div id="podcast-full-btn" class="btn btn-warning podcast-btn disabled ms-3" onclick="podcast(this)">
                            ▶️&nbsp;<em>Episode</em></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        createStars();
        testMessages(testMessageState);
        setResetButton();
        // const resetButton = document.getElementById('btnReset');
        // resetButton.click();
    </script>

</body>

</html>
